body {
    background-color: darkslategrey;
    margin: 0 px;
    padding: 0 px;
    width: 100vw;
    color: darkcyan;
}

.jumbotron{
    padding-top: 30px;
    padding-bottom: 30px;
    color: lightgray;
    background-color: lightsalmon;
    border-radius: 0px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95vw;
    margin-left: 20px;
    margin-right: 20px;
}

form{
    width: 20vw;
    margin: 10px;
}

#button-addon2{
    background-color: white;
}

